<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Lejeaftaler
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/rentaloverview">Lejeaftale Oversigt</a>
            <a href="/carsearch">Søg og opret lejeaftale</a>
        </div>

    </div>
    <div class="dropdown">
        <button class="dropbtn">Medarbejdere
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/employees">Medarbejder Oversigt</a>
            <a href="/createemployee">Opret ny medarbejder</a>
        </div>

    </div>

    <div class="dropdown">
        <button class="dropbtn">Kunder
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/customers">Kunde Oversigt</a>
            <a href="/createcustomer">Opret en ny kunde</a>
        </div>

    </div>


    <div class="dropdown">
        <button class="dropbtn">Motorhomes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/motorhomeoverview">Motorhome Oversigt</a>
            <a href="/createmotorhome">Opret et nyt motorhome</a>
            <a href="/addtofleet">Tilføj motorhome til udvalg</a>

        </div>

    </div>



</div>


    <h1>Rentals</h1>

    <table>
        <tr>
            <th>Motorhome ID</th>
            <th>Lejeaftale ID</th>
            <th>Kundens Fornavn</th>
            <th>Kundens Efternavn</th>
            <th>Starto Dato</th>
            <th>Slut Dato</th>
            <th>Antal Dage</th>
            <th>Pris Per Dag</th>
            <th>Samlede Pris</th>
        </tr>
        <tr th:each="rental : ${rentals}">
            <td th:text="${rental.motorhomeId}"></td>
            <td th:text="${rental.rentalId}"></td>
           <td th:text="${rental.customerFirstName}"></td>
            <td th:text="${rental.customerLastName}"></td>
            <td th:text="${rental.pickupDate}"></td>
            <td th:text="${rental.endDate}"></td>
            <td th:text="${rental.totalDays}"></td>
            <td th:text="${rental.pricePerDay}"></td>
            <td th:text="${rental.totalPrice}"></td>
            <td><a th:href="@{/individualpriceoverview(rentalId=${rental.rentalId})}"><button class="btn btn-details"> Se og udregn priser</button></a></th>
            <td><a th:href="@{/updatepayment(rentalId=${rental.rentalId})}"><button class="btn btn-details"> Opdater alle priser </button></a></th>
            <td><a th:href="@{/deleterentalandpayment(rentalId=${rental.rentalId})}"><button class="btn btn-details"> Slet leje og betalings aftale </button></a></th>










        </tr>


    </table>
</div>
</body>
</html>