<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Lejeaftaler
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/rentaloverview">Lejeaftale Oversigt</a>
            <a href="/carsearch">Søg og opret lejeaftale</a>
        </div>

    </div>
    <div class="dropdown">
        <button class="dropbtn">Medarbejdere
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/employees">Medarbejder Oversigt</a>
            <a href="/createemployee">Opret ny medarbejder</a>
        </div>

    </div>

    <div class="dropdown">
        <button class="dropbtn">Kunder
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/customers">Kunde Oversigt</a>
            <a href="/createcustomer">Opret en ny kunde</a>
        </div>

    </div>


    <div class="dropdown">
        <button class="dropbtn">Motorhomes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/motorhomeoverview">Motorhome Oversigt</a>
            <a href="/createmotorhome">Opret et nyt motorhome</a>
            <a href="/addtofleet">Tilføj motorhome til udvalg</a>

        </div>

    </div>



</div>





<div class="container">
    <h1>Details</h1>

    <p>Rental ID: <span th:text="${payment.rentalId}"></span> </p>

    <p>Price Per Day: <span th:text="${payment.pricePerDay}"></span></p>

    <p>Drop Off Price: <span th:text="${payment.dropoffPrice}"></span> </p>

    <p>Added Accessories: <span th:text="${payment.accessoriesPrice}"></span> </p>

    <p>Cancellation Price: <span th:text="${payment.cancellationPrice}"></span> </p>

    <p>Fuel Price: <span th:text="${payment.fuelPrice}"></span> </p>

    <p>Kilometers Driven Price: <span th:text="${payment.kilometersDrivenPrice}"></span> </p>

    <p>Total Price: <span th:text="${payment.totalPrice}"></span> </p>

    <td><a th:href="@{/kilometerprice(rentalId=${payment.rentalId})}"><button class="btn btn-details"> Kilometer Kørt - Pris Udregner</button></a></th>
    <td><a th:href="@{/dropoffprice(rentalId=${payment.rentalId})}"><button class="btn btn-details"> Drop Off - Pris Udregner</button></a></th>
    <td><a th:href="@{/fuelprice(rentalId=${payment.rentalId})}"><button class="btn btn-details"> Benzin - Pris Udregner</button></a></th>
    <td><a th:href="@{/cancelrental(rentalId=${payment.rentalId})}"><button class="btn btn-details"> Aflysning Af Lejeaftale - Pris Udregner</button></a></th>
    <td><a th:href="@{/accessoriesprice(rentalId=${payment.rentalId})}"><button class="btn btn-details"> Accessories</button></a></th>






</div>
</body>
</html>